<div class="d-flex justify-content-center align-items-center">
  <div>
    <ul>
      <li *ngFor="let moneda of datosApi.listaMonedas | slice: (page-1) * pageSize : page * pageSize">
        <a (click)="monedaSeleccionada(moneda)">{{moneda.name}}</a>
      </li>
    </ul>
    <ngb-pagination id="pagination"
    [collectionSize]="this.datosApi.listaMonedas.length"
    [pageSize]="pageSize"
    [directionLinks]="false"
    [(page)]="page"
    class="w-100">
    </ngb-pagination>
  </div>
  
  <div>
    <table>
      <thead>
          <th>Image</th>
          <th>Name</th>
          <th>Symbol</th>
          <th>Price (€)</th>
          <th>Capitalization (€)</th>
          <th>Volume (€)</th>
          <th>Higher price (24h)</th>
          <th>Lower price (24h)</th>
          <th>Details</th>
          <th>Actions</th>
      </thead>
      <tr *ngFor="let moneda of seleccionMoneda">
          <img
          src="{{ moneda.image.large }}"
          alt="{{ moneda.name }}"
          width="50px"
          routerLink="/coin/{{moneda.id}}"
        />
          <td>{{ moneda.name }}</td>
          <td>{{ moneda.symbol }}</td>
          <td>{{ moneda.market_data.current_price.eur }}</td>
          <td>{{ moneda.market_data.market_cap.eur }}</td>
          <td>{{ moneda.market_data.total_volume.eur }}</td>
          <td>{{ moneda.market_data.high_24h.eur }}</td>
          <td>{{ moneda.market_data.low_24h.eur }}</td>
          <td id="boton">
              <button routerLink="/detalle-moneda/{{moneda.id}}">More Info</button>
          </td>
          <td>
              <i (click)="eliminarMoneda(moneda)" class="fa-solid fa-trash"></i>
          </td>
      </tr>
  </table>
  </div>  
</div>
