  <div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
      <h1 class="display-5 fw-bold">Jump Start your Crypto Portfolio</h1>
      <p class="col-md-8 fs-4">Coinbase is the easiest place to buy and sell cryptocurrency. Sign up and get started today. </p>
      <a routerLink="/cuerpo" class="btn btn-danger btn-lg" type="button">Portfolio</a>
    </div>
  </div>
<div class="container">
  <div class="row align-items-md-stretch">
    <div class="col d-flex justify-content-center align-items-center">
      <div class="h-100 p-5 text-white bg-dark rounded-3 d-flex justify-content-center align-items-center">
        <div>
          <h2>Manage your portfolio</h2>
          <p>Buy and sell popular digital currencies, keep track of them in the one place</p>
        </div>
        <img class="rounded" src="../../assets/img/critpo.jpg" alt="" width="600">
      </div>
    </div>
  </div>
</div>

  