<div class="card mb-3" >
    <div class="row g-0">
      <div class="col-md-6 d-flex justify-content-center align-items-center">
        <img 
        src="{{ datoMoneda.image.large }}"
        alt="{{ datoMoneda.name }}"
        width="150px"
        />
      </div>
      <div class="col-md-6">
        <div class="card-body">
          <h5 class="card-title">{{datoMoneda.name}}</h5>
          <p class="card-text">Symbol: {{ datoMoneda.symbol }}</p>
          <p class="card-text">Price (€): {{ datoMoneda.market_data.current_price.eur }}</p>
          <p class="card-text">Create in: {{datoMoneda.genesis_date}}</p>
          <p class="card-text mt-4 mb-4">
            <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              See description
            </a>
          </p>
        <div class="collapse" id="collapseExample">
            <div class="card card-text">
                <p *ngIf="datoMoneda.description.es != ''" [innerHTML]="datoMoneda.description.es"></p>
                <p *ngIf="datoMoneda.description.es == ''" [innerHTML]="datoMoneda.description.en"></p>
                <p *ngIf="datoMoneda.description.es == '' && datoMoneda.description.en == ''">Description not available</p>
            </div>
        </div>
        <div class="d-flex gap-5 mb-5 mt-5">
            <a href="{{datoMoneda.links.homepage[0]}}" target="_blank"><i class="fa-solid fa-house"></i></a>
            <a href="https://twitter.com/{{datoMoneda.links.twitter_screen_name}}" target="_blank"><i class="fa-brands fa-twitter"></i></a>
            <a href="{{datoMoneda.links.repos_url.github[0]}}" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary" routerLink="/cuerpo">Back</button>